@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
body{
  --tw-bg-opacity: 1;
  background-color: rgb(15 23 42 / var(--tw-bg-opacity));
  line-height: 1.625;
  color: rgb(148 163 184 /  var(--tw-text-opacity));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

} */

.scrollbar::-webkit-scrollbar {
  display: none;
}

html{
  scroll-behavior: smooth;
}

.active {
  color: white;
}