@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
body{
  --tw-bg-opacity: 1;
  background-color: rgb(15 23 42 / var(--tw-bg-opacity));
  line-height: 1.625;
  color: rgb(148 163 184 /  var(--tw-text-opacity));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

} */

.scrollbar::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

.active {
  color: white;
}

.rotateHover:hover
  {
    position: relative;
    margin: auto;
    
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 2px solid rgb(94, 234, 212);
        border-radius: 10px;
        transition: all .5s;
        animation: clippath 3s infinite linear;
    }
}

@keyframes clippath {
    0%,
    100% {
        clip-path: inset(0 0 95% 0);
        border-color: rgb(123, 241, 224);
    }
    25% {
        clip-path: inset(0 95% 0 0);
        border-color: rgb(172, 215, 208);
    }
    50% {
        clip-path: inset(95% 0 0 0);
        border-color: rgb(202, 210, 209);
    }
    75% {
        clip-path: inset(0 0 0 95%);
        border-color: rgb(86, 234, 212);
    }
}

.rotateHoverLight:hover
  {
    position: relative;
    margin: auto;
    
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 2px solid rgb(198, 118, 87);
        border-radius: 10px;
        transition: all .5s;
        animation: clippath2 3s infinite linear;
    }
}

@keyframes clippath2 {
    0%,
    100% {
        clip-path: inset(0 0 95% 0);
        border-color: rgb(198 118 87);
    }
    25% {
        clip-path: inset(0 95% 0 0);
        border-color: rgb(224, 159, 134);
    }
    50% {
        clip-path: inset(95% 0 0 0);
        border-color: rgb(245, 199, 180);
    }
    75% {
        clip-path: inset(0 0 0 95%);
        border-color: rgb(247, 210, 197);
    }
}